<!Doctype html>
<html>
<head>
  <title>SSEF Timeline</title>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.1/velocity.min.js"></script>
  <style>
    #title{
      font-family: 'Ubuntu';
      text-align: center;
      margin-top: 20;
      margin-bottom: 0;
      font-size: 3em;
      color: white;
    }
    #subH{
      font-family: 'Open Sans';
      text-align: center;
      font-weight: lighter;
      margin-top: 0;
      color: white;
    }
    body{
      background-color: black;
    }
    svg{
      margin: auto;
      display: block;
    }
    span{
      color: white;
      font-size: 1.5em;
      font-family: 'Open Sans';
    }
    select{
      font-family: 'Open Sans';
      background-color: black;
      color: white;
      font-size: 1em;
      border-radius: 5px;
    }
    #select{
      padding-left: 150px;
    }
    #timeline{
      margin-top: 50px;
    }
    p{
      color: white;
      font-family: 'Open Sans';
      margin: 0;
    }
    text{
      font-size: 30px;
      font-family: 'Open Sans';
    }
    use{
      transition: y .5s ease;
    }
  </style>
  <body>
    <h1 id = "title">SSEF - The Timeline</h1>
    <h3 id = "subH">Does how early you register actually mean anything?</h3>
    <div id = "timeline">
      <div id = "select">
        <p>Each of these dots represent 1 SSEF project, arranged in their order of registration. Choose a topic to sort them by</p>
        <span>Sort by: </span><select id = "sort">
           <option disabled selected value>   ---   </option>
          <option>Status</option>
          <option>Field</option>
          <option>Award</option>
        </select>
      </div>
      <svg viewbox = "0 0 2200 800" width = "1100px">
        <defs>
          <circle id = "s1" cx = "200" cy = "0" r = "2" fill = "white"/>
        </defs>
        <g id = 'group'>
        </g>
        <line x1="120" y1="700" x2="2200" y2="700" style="stroke:rgb(255, 255, 255);stroke-width:2" />
        <text class = "label" x = "10" fill = 'white'></text>
        <text class = "label" x = "10" fill = 'white'></text>
        <text class = "label" x = "10" fill = 'white'></text>
        <text class = "label" x = "10" fill = 'white'></text>
        <text class = "label" x = "10" fill = 'white'></text>
      </svg>
    </div>
  </body>
  <script>
    var svg = document.getElementsByTagName('svg')[0];
    <%for(var i = 0; i < projects.length; i++){%>
      var newElement = document.createElementNS("http://www.w3.org/2000/svg", 'use');
      newElement.setAttribute("href", '#s1');
      newElement.setAttribute('y', '400');
      newElement.setAttribute('x', '<%= i*3.2%>');
      svg.appendChild(newElement);
    <%}%>

    $("#sort").change(function(){
      if($("#sort").val() == 'Status'){
        <%for(var i = 0; i < projects.length; i++){%>
          var svg = document.getElementsByTagName('svg')[0];
          <%var statusList = ["60", "20", "10", "5"];%>
          $("use:eq(<%= i %>)").attr('y', '<%= statusList.indexOf(projects[i]['status'])*100 + 200 %>');
        <%}%>
        <%for(var i = 0; i < 4; i++){%>
          <%var statusList = ["finalist", "rejected", "registered", "saved"];%>
          $(".label:eq(<%= i %>)").text("<%= statusList[i] %>");
          $(".label:eq(<%= i %>)").attr("y", "<%= i*100 + 202%>")
        <%}%>
      }
      if($("#sort").val() == 'Field'){
        <%for(var i = 0; i < projects.length; i++){%>
          var svg = document.getElementsByTagName('svg')[0];
          <%var fieldList = ["bi", "cm", "ph", "ma", "cs"];%>
          $("use:eq(<%= i %>)").attr('y', '<%= fieldList.indexOf(projects[i]['sbj'])*100 + 200 %>');
        <%}%>
        <%for(var i = 0; i < 5; i++){%>
          <%var statusList = ["finalist", "rejected", "registered", "saved"];%>
          $(".label:eq(<%= i %>)").text("<%= fieldList[i] %>");
          $(".label:eq(<%= i %>)").attr("y", "<%= i*100 + 202%>")
        <%}%>
      }
      if($("#sort").val() == 'Award'){
        <%for(var i = 0; i < projects.length; i++){%>
          var svg = document.getElementsByTagName('svg')[0];
          <%var fieldList = ["Gold", "Silver", "Bronze", "Merit", "none"];%>
          $("use:eq(<%= i %>)").attr('y', '<%= fieldList.indexOf(projects[i]['award'])*100 + 200 %>');
        <%}%>
        <%for(var i = 0; i < 5; i++){%>
          <%var statusList = ["finalist", "rejected", "registered", "saved"];%>
          $(".label:eq(<%= i %>)").text("<%= fieldList[i] %>");
          $(".label:eq(<%= i %>)").attr("y", "<%= i*100 + 202%>")
        <%}%>
      }
    })
  </script>
</html>
